// Colors
$black: #000;
$white: #fff;
$yellow: #FFE81F;
$red: #F90018;
$carrot: #ee5f5b;
$blue: #3E74AC;
$light-blue: #5D86ED;
$sky: #48E0D0;
$drak-broun: #0F0B0D;
$broun: #302d2f; 
$light-broun: #645E64; 
$grey: #9BA0A8;
$light-grey: #D6DEE7;

// Fonts
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;