@import 'scss/bootstrap.min.css';


ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    li {
        list-style: none;
        padding: 10px 0;
        color: #fff;
        display: flex;
        &:not(:last-child) {
            border-bottom: 1px solid #3a3636;
        }
        .term {
            font-weight: bold;
            flex: 2;
        }
        span {
            flex: 5;
        }
    }
}

.preview-image {
    border-radius: 0.3rem;
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
    overflow: hidden;
    img {
        object-fit: fill;
        object-position: center;
        width: 100%;
        height: auto;
        max-height: inherit;
        display: block;
    }
}

.simple-button-container {
    margin-bottom: 3rem;
}