.item-list {
    margin-bottom: 3rem;
}
.list-item {
    transition: all .3s;
    .list-details {
        font-size: 12px;
        font-style: italic;
        opacity: .7;
        margin-left: 15px;
    }
    &.active,
    &:hover,
    &:focus {
        cursor: pointer;
        color: #94fffa;
    }
}